@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
}

@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Manrope';
  src: url(../font/Manrope-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

.container {
  padding: 0 15px;
}

.slick-next,
.slick-prev {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  z-index: 99;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.slick-dots {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button:before {
  color: #C2C2C2;
  opacity: 1;
  font-size: 14px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.slick-dots li.slick-active button:before {
  content: url("../img/png/dote.png");
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
  height: auto;
  background-image: url(../img/png/first.png);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-item {
  width: 100%;
  height: 65px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#76AAF8), to(#4165E3));
  background: -webkit-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: -o-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: linear-gradient(180deg, #76AAF8 0%, #4165E3 100%);
  -webkit-box-shadow: 0px 3px 0px #33478D;
          box-shadow: 0px 3px 0px #33478D;
}

.wrapper .pen {
  right: -10px;
}

.wrapper .circle_red {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#BE1C21), to(#DC3337));
  background: -webkit-linear-gradient(bottom, #BE1C21 0%, #DC3337 100%);
  background: -o-linear-gradient(bottom, #BE1C21 0%, #DC3337 100%);
  background: linear-gradient(360deg, #BE1C21 0%, #DC3337 100%);
}

.menu {
  width: 100%;
  left: -100%;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.menu-item {
  max-height: 25px;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.menu .showMenuItem {
  max-height: 500px;
}

.menu .showMenuItem .arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.showMenu {
  left: 0;
}

.lesson {
  width: 100%;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 20.31%, rgba(255, 255, 255, 0) 72.92%, #FFFFFF 100%), -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.15) 0%, rgba(38, 171, 91, 0.15) 76.95%), #FFFFFF;
  background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 20.31%, rgba(255, 255, 255, 0) 72.92%, #FFFFFF 100%), -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.15) 0%, rgba(38, 171, 91, 0.15) 76.95%), #FFFFFF;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 20.31%, rgba(255, 255, 255, 0) 72.92%, #FFFFFF 100%), linear-gradient(220.53deg, rgba(155, 247, 99, 0.15) 0%, rgba(38, 171, 91, 0.15) 76.95%), #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.english {
  background-image: url(../img/png/eng_bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.gift-title {
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 0px 20px rgba(1, 199, 56, 0.4);
          box-shadow: 0px 0px 20px rgba(1, 199, 56, 0.4);
  -webkit-border-radius: 10px 10px 0px 0px;
          border-radius: 10px 10px 0px 0px;
}

.gift__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#76AAF8), to(#4165E3));
  background: -webkit-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: -o-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: linear-gradient(180deg, #76AAF8 0%, #4165E3 100%);
  -webkit-box-shadow: 0px 3px 0px #33478D;
          box-shadow: 0px 3px 0px #33478D;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.balans .anton__photo {
  width: 160px !important;
}

.gift-carousel {
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.2) 0%, rgba(38, 171, 91, 0.2) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.2) 0%, rgba(38, 171, 91, 0.2) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.2) 0%, rgba(38, 171, 91, 0.2) 76.95%);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  height: auto;
}

.gift-carousel-item {
  height: 600px;
}

.gift-carousel-item_end {
  height: auto;
}

.gift-carousel-item_end .gift__email {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background: #F3F5F7;
  -webkit-box-shadow: inset 0px 2px 0px #B8C0C6;
          box-shadow: inset 0px 2px 0px #B8C0C6;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 18px;
}

.gift-carousel-item_end .gift__email::-webkit-input-placeholder {
  color: #A5A5A5;
  font-size: 14px;
}

.gift-carousel-item_end .gift__email:-ms-input-placeholder {
  color: #A5A5A5;
  font-size: 14px;
}

.gift-carousel-item_end .gift__email::-ms-input-placeholder {
  color: #A5A5A5;
  font-size: 14px;
}

.gift-carousel-item_end .gift__email::placeholder {
  color: #A5A5A5;
  font-size: 14px;
}

.gift-carousel-item_end .gift__btn {
  width: 100%;
  height: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(#76AAF8), to(#4165E3));
  background: -webkit-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: -o-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: linear-gradient(180deg, #76AAF8 0%, #4165E3 100%);
  -webkit-box-shadow: 0px 3px 0px #33478D;
          box-shadow: 0px 3px 0px #33478D;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.gift-carousel-item_end-info {
  width: 96%;
  margin-left: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 0px 15px 10px rgba(107, 107, 107, 0.1);
          box-shadow: 10px 0px 15px 10px rgba(107, 107, 107, 0.1);
  -webkit-border-radius: 12px;
          border-radius: 12px;
  position: relative;
}

.gift-carousel-item_end-info::after {
  content: '';
  width: 20px;
  height: 80%;
  background: orange;
  position: absolute;
  left: -10px;
  top: 10px;
  z-index: -1;
  -webkit-border-radius: 12px;
          border-radius: 12px;
}

.gift-carousel-item_end .sub__btn {
  width: 100%;
  height: 70px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#76AAF8), to(#4165E3));
  background: -webkit-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: -o-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: linear-gradient(180deg, #76AAF8 0%, #4165E3 100%);
  -webkit-box-shadow: 0px 3px 0px #33478D;
          box-shadow: 0px 3px 0px #33478D;
}

.gift-carousel button {
  background: transparent;
  outline: none;
}

.gift-carousel button:focus {
  outline: none;
}

.gift-carousel .next {
  width: 110px;
  height: 50px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#76AAF8), to(#4165E3));
  background: -webkit-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: -o-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: linear-gradient(180deg, #76AAF8 0%, #4165E3 100%);
  -webkit-box-shadow: 0px 3px 0px #33478D;
          box-shadow: 0px 3px 0px #33478D;
}

.build-learning .vertical {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.build-learning .find-out {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.build-learning .showFindOut {
  max-height: 2000px;
}

.build-learning .find-out-title {
  background-color: #fff;
  -webkit-box-shadow: 10px 0px 15px 10px rgba(107, 107, 107, 0.1);
          box-shadow: 10px 0px 15px 10px rgba(107, 107, 107, 0.1);
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.build-learning .find-out-title::before {
  content: '';
  width: 95%;
  height: 25px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  position: absolute;
  bottom: -10px;
  left: 10px;
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  z-index: -1;
}

.build-learning .find-out-title-info {
  background: -webkit-gradient(linear, left top, left bottom, from(#4D82F4), to(#69A6FF));
  background: -webkit-linear-gradient(top, #4D82F4 0%, #69A6FF 100%);
  background: -o-linear-gradient(top, #4D82F4 0%, #69A6FF 100%);
  background: linear-gradient(180deg, #4D82F4 0%, #69A6FF 100%);
  -webkit-border-radius: 12px;
          border-radius: 12px;
  margin: 0 15px;
  margin-top: -5px;
  position: relative;
}

.build-learning .find-out-title-info::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #4D82F4;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 50px;
  top: -13px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.build-learning .title-info__sub {
  margin-top: -140px;
}

.build-learning .title-info__sub::after {
  left: 50%;
}

.build-learning .scrollBar {
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  overflow: hidden;
}

.build-learning .scrollBar-title {
  width: 100%;
  overflow: scroll;
  padding: 40px 0;
  margin-left: 15px;
}

.build-learning .scrollBar-title::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5353), to(#FF7B7B));
  background: -webkit-linear-gradient(top, #FF5353 0%, #FF7B7B 100%);
  background: linear-gradient(180deg, #FF5353 0%, #FF7B7B 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.build-learning .scrollBar-title::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.build-learning .scrollBar-title::-webkit-scrollbar {
  height: 6px;
  width: 0;
}

.build-learning .radio_button {
  min-width: 136px;
  height: 55px;
  background-color: #fff;
  margin-right: 15px;
}

.build-learning .radio_button:last-child {
  margin-right: 20px;
}

.build-learning .check_btn {
  color: #4165E3;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(107, 107, 107, 0.15);
          box-shadow: 0px 5px 15px 5px rgba(107, 107, 107, 0.15);
}

.build-learning input[type='radio'] {
  opacity: 0;
}

.build-learning input:checked ~ .check_btn {
  background-color: #4165E3;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modul .modul-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(229.47deg, rgba(247, 247, 247, 0.3) 0%, rgba(164, 164, 164, 0.3) 76.95%), #FFFFFF;
  background: -o-linear-gradient(229.47deg, rgba(247, 247, 247, 0.3) 0%, rgba(164, 164, 164, 0.3) 76.95%), #FFFFFF;
  background: linear-gradient(220.53deg, rgba(247, 247, 247, 0.3) 0%, rgba(164, 164, 164, 0.3) 76.95%), #FFFFFF;
  -webkit-box-shadow: inset -4px -4px 8px rgba(226, 226, 226, 0.3), inset 4px 4px 8px rgba(255, 255, 255, 0.75);
          box-shadow: inset -4px -4px 8px rgba(226, 226, 226, 0.3), inset 4px 4px 8px rgba(255, 255, 255, 0.75);
}

.modul .modul-item .title_text {
  font-size: 16px;
}

.modul .modul-item .info_text {
  font-size: 10px;
}

.modul .modul-modal {
  width: 100%;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin-top: -50px;
  margin-bottom: 80px;
}

.modul .modul-modal__num {
  background: -webkit-gradient(linear, left top, left bottom, from(#76AAF8), to(#4165E3));
  background: -webkit-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: -o-linear-gradient(top, #76AAF8 0%, #4165E3 100%);
  background: linear-gradient(180deg, #76AAF8 0%, #4165E3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.modul .modul-modal-box {
  width: 85%;
  height: auto;
  padding: 15px;
  position: relative;
  margin: 10px 0 30px auto;
}

.modul .modul-modal-box span {
  position: relative;
  z-index: 2;
  font-size: 14px;
}

.modul .modul-modal-box::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(228, 255, 216, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-border-radius: 12px;
          border-radius: 12px;
  z-index: 1;
}

.modul .modul-modal-box::after {
  content: '';
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.5) 0%, rgba(38, 171, 91, 0.5) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.5) 0%, rgba(38, 171, 91, 0.5) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.5) 0%, rgba(38, 171, 91, 0.5) 76.95%);
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
  z-index: 0;
}

.modul-carousel .slick-list {
  overflow: scroll !important;
}

.modul-carousel .slick-list::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.modul-carousel .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.modul-carousel .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modul-carousel .slick-center {
  width: 180px !important;
}

.modul-carousel .slick-center .modul-item {
  min-width: 180px !important;
  height: 150px;
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%), #FFFFFF;
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%), #FFFFFF;
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%), #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(3, 63, 1, 0.15), inset -4px -4px 8px rgba(77, 130, 244, 0.3), inset 4px 4px 8px rgba(255, 255, 255, 0.75);
          box-shadow: 0px 0px 20px rgba(3, 63, 1, 0.15), inset -4px -4px 8px rgba(77, 130, 244, 0.3), inset 4px 4px 8px rgba(255, 255, 255, 0.75);
}

.modul-carousel .slick-center .modul-item .title_text {
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.modul-carousel .slick-center .modul-item .info_text {
  font-size: 15px;
  text-align: center;
  color: #fff;
}

.modul-carousel input[type='radio'] {
  opacity: 0;
}

.animModal {
  -webkit-animation: animModal .2s linear;
          animation: animModal .2s linear;
}

@-webkit-keyframes animModal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animModal {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.signUp {
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.3) 0%, rgba(38, 171, 91, 0.3) 76.95%), #FFFFFF;
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.3) 0%, rgba(38, 171, 91, 0.3) 76.95%), #FFFFFF;
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.3) 0%, rgba(38, 171, 91, 0.3) 76.95%), #FFFFFF;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.signUp input::-webkit-input-placeholder {
  color: #C2C2C2;
}

.signUp input:-ms-input-placeholder {
  color: #C2C2C2;
}

.signUp input::-ms-input-placeholder {
  color: #C2C2C2;
}

.signUp input::placeholder {
  color: #C2C2C2;
}

.signUp select {
  color: #C2C2C2;
}

.signUp button {
  -webkit-box-shadow: 0px 3px 0px #33478D;
          box-shadow: 0px 3px 0px #33478D;
}

.confidence-item {
  padding: 20px 15px;
  max-height: 120px;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.confidence-item .circle-red {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5353), to(#FF7B7B));
  background: -webkit-linear-gradient(top, #FF5353 0%, #FF7B7B 100%);
  background: -o-linear-gradient(top, #FF5353 0%, #FF7B7B 100%);
  background: linear-gradient(180deg, #FF5353 0%, #FF7B7B 100%);
  margin-right: 10px;
}

.confidence-list {
  height: 74px;
  background: #ECECEC;
  border: 1px solid rgba(255, 255, 255, 0.75);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 0 15px;
}

.confidence-list__text {
  color: #656565;
}

.confidence .showConfidenceItem {
  max-height: 1500px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.confidence .showConfidenceItem .confidence-list {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#4D82F4), to(#69A6FF));
  background: -webkit-linear-gradient(top, #4D82F4 0%, #69A6FF 100%);
  background: -o-linear-gradient(top, #4D82F4 0%, #69A6FF 100%);
  background: linear-gradient(180deg, #4D82F4 0%, #69A6FF 100%);
}

.confidence .showConfidenceItem .confidence-list .confidence-list__title {
  color: #fff;
}

.confidence .showConfidenceItem .confidence-list .confidence-list__text {
  color: #E7E7E7 !important;
}

.confidence .showConfidenceItem svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.confidence .showConfidenceItem svg path {
  fill: #fff;
}

.lessons-carousel {
  background: -webkit-linear-gradient(270.07deg, #FFFFFF 0.06%, #DFFFD7 48.96%, #FFFFFF 99.94%);
  background: -o-linear-gradient(270.07deg, #FFFFFF 0.06%, #DFFFD7 48.96%, #FFFFFF 99.94%);
  background: linear-gradient(179.93deg, #FFFFFF 0.06%, #DFFFD7 48.96%, #FFFFFF 99.94%);
}

.lessons-carousel-sup-item {
  height: 242px;
}

.lessons-carousel-sup .slick-prev {
  left: -15px;
}

.lessons-carousel-sup .slick-next {
  right: -15px;
}

.lessons-carousel-sub {
  margin-top: 20px;
}

.lessons-carousel-sub-item {
  height: 53px;
}

.lessons-carousel-sub .slick-slide {
  margin: 0  5px;
}

.lessons-carousel-sub .slick-dots {
  bottom: -40px;
}

.chicaga_ln {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(118, 170, 248, 0.15)), to(rgba(65, 101, 227, 0.15)));
  background: -webkit-linear-gradient(top, rgba(118, 170, 248, 0.15) 0%, rgba(65, 101, 227, 0.15) 100%);
  background: -o-linear-gradient(top, rgba(118, 170, 248, 0.15) 0%, rgba(65, 101, 227, 0.15) 100%);
  background: linear-gradient(180deg, rgba(118, 170, 248, 0.15) 0%, rgba(65, 101, 227, 0.15) 100%);
  -webkit-box-shadow: 10px 0px 15px 10px rgba(107, 107, 107, 0.1);
          box-shadow: 10px 0px 15px 10px rgba(107, 107, 107, 0.1);
  -webkit-border-radius: 0px 0px 16px 16px;
          border-radius: 0px 0px 16px 16px;
}

.teachers-carousel-sup {
  padding: 0 30px;
  margin-top: 20px;
}

.teachers-carousel-sup .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers-carousel-sup .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers-carousel-sup-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers-carousel-sup-item img {
  width: 65px;
  height: 65px;
}

.teachers-carousel-sup .slick-center img {
  width: 100px;
  height: 100px;
}

.teachers-carousel-sub .slick-track {
  padding: 20px 0;
}

.teachers-carousel-sub-item {
  background: -webkit-linear-gradient(269.94deg, #FFFFFF 0.05%, #DCECFF 51.4%, #FFFFFF 99.95%);
  background: -o-linear-gradient(269.94deg, #FFFFFF 0.05%, #DCECFF 51.4%, #FFFFFF 99.95%);
  background: linear-gradient(180.06deg, #FFFFFF 0.05%, #DCECFF 51.4%, #FFFFFF 99.95%);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.teachers-carousel-sub-item .circle_red {
  min-width: 12px;
  min-height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF5353), to(#FF7B7B));
  background: -webkit-linear-gradient(top, #FF5353 0%, #FF7B7B 100%);
  background: -o-linear-gradient(top, #FF5353 0%, #FF7B7B 100%);
  background: linear-gradient(180deg, #FF5353 0%, #FF7B7B 100%);
  margin: 5px 10px 0 0;
}

.teachers-carousel-sub .slick-dots {
  bottom: 50px;
}

.english-carousel-sup-item {
  height: 242px;
}

.english-carousel-sup .slick-prev {
  left: -15px;
}

.english-carousel-sup .slick-next {
  right: -15px;
}

.english-carousel-sub-item {
  height: 56px;
}

.english-carousel-sub .slick-slide {
  margin: 0  5px;
}

.english-carousel-sub .slick-dots {
  bottom: -40px;
}

.reviews .slick-track {
  padding: 20px 0;
}

.faq-item {
  max-height: 100px;
  overflow: hidden;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.faq-list {
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.faq .circle {
  min-width: 12px;
  min-height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.7) 0%, rgba(38, 171, 91, 0.7) 76.95%);
}

.faq .showFaqItem {
  max-height: 1000px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.faq .showFaqItem .faq-list {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq .showFaqItem svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-sub {
  background: -webkit-linear-gradient(229.47deg, rgba(155, 247, 99, 0.5) 0%, rgba(38, 171, 91, 0.5) 76.95%);
  background: -o-linear-gradient(229.47deg, rgba(155, 247, 99, 0.5) 0%, rgba(38, 171, 91, 0.5) 76.95%);
  background: linear-gradient(220.53deg, rgba(155, 247, 99, 0.5) 0%, rgba(38, 171, 91, 0.5) 76.95%);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.map__btn {
  background: #ECEFF1;
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
}

footer {
  background: #3C444C;
}

footer .footer-list {
  width: 48%;
  height: 56px;
  background: #ECECEC;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

footer .footer-form {
  background: -webkit-linear-gradient(282.26deg, #D5D5D5 0%, #FFFFFF 18.75%, #D5D5D5 33.85%, #FFFFFF 49.48%, #D5D5D5 64.58%, #FFFFFF 81.25%, #D5D5D5 100%);
  background: -o-linear-gradient(282.26deg, #D5D5D5 0%, #FFFFFF 18.75%, #D5D5D5 33.85%, #FFFFFF 49.48%, #D5D5D5 64.58%, #FFFFFF 81.25%, #D5D5D5 100%);
  background: linear-gradient(167.74deg, #D5D5D5 0%, #FFFFFF 18.75%, #D5D5D5 33.85%, #FFFFFF 49.48%, #D5D5D5 64.58%, #FFFFFF 81.25%, #D5D5D5 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

footer .footer-form__inp, footer .footer-form__select, footer .footer-form__text {
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 15px;
  outline: none;
}

footer .footer-form__inp::-webkit-input-placeholder, footer .footer-form__select::-webkit-input-placeholder, footer .footer-form__text::-webkit-input-placeholder {
  color: #A5A5A5;
}

footer .footer-form__inp:-ms-input-placeholder, footer .footer-form__select:-ms-input-placeholder, footer .footer-form__text:-ms-input-placeholder {
  color: #A5A5A5;
}

footer .footer-form__inp::-ms-input-placeholder, footer .footer-form__select::-ms-input-placeholder, footer .footer-form__text::-ms-input-placeholder {
  color: #A5A5A5;
}

footer .footer-form__inp::placeholder, footer .footer-form__select::placeholder, footer .footer-form__text::placeholder {
  color: #A5A5A5;
}

footer .footer-form__select {
  color: #A5A5A5;
}

footer .footer-form__text {
  resize: none;
  height: 120px;
  font-size: 16px;
  padding: 15px;
}

footer .footer-form__btn {
  width: 100%;
  height: 66px;
  background: -webkit-gradient(linear, left bottom, left top, from(#BE1C21), to(#DC3337)), #C4C4C4;
  background: -webkit-linear-gradient(bottom, #BE1C21 0%, #DC3337 100%), #C4C4C4;
  background: -o-linear-gradient(bottom, #BE1C21 0%, #DC3337 100%), #C4C4C4;
  background: linear-gradient(0deg, #BE1C21 0%, #DC3337 100%), #C4C4C4;
  -webkit-box-shadow: 0px 0px 21px rgba(253, 64, 68, 0.45);
          box-shadow: 0px 0px 21px rgba(253, 64, 68, 0.45);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
