.slick-track,
.slick-list {
    height: 100%;
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
    border: 1px solid #828282;
    background-color: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    -webkit-transition: .3 all;
    -o-transition: .3 all;
    transition: .3 all;
}

.slick-next:hover,
.slick-prev:hover {
    background-color: #E20613;
}

.slick-next:hover path,
.slick-prev:hover path {
    fill: #fff;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: 20px;
}

.slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 40px;
}

.slick-dots li button:before {
    color: #828282;
    opacity: 1;
    font-size: 12px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.slick-dots li.slick-active button:before {
    color: #E20613;
}

.header {
    padding: 30px 0 20px 0;
}

.header-logo {
    position: relative;
    z-index: 9999;
}

.header-item__info {
    display: none;
}

.header-item__info li:hover {
    background-color: #E20613;
}

.header-item__info li:hover a {
    color: #fff;
}

.header-item:hover .header-item__info {
    display: block;
}

.header .menu-burger {
    position: relative;
    z-index: 9999;
}

.header #burger_list1 {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.header #burger_list3 {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.header .change #burger_list1 {
    -webkit-transform: translateY(5px) rotate(-45deg);
    -ms-transform: translateY(5px) rotate(-45deg);
    transform: translateY(5px) rotate(-45deg);
}

.header .change #burger_list3 {
    -webkit-transform: translateY(-5px) rotate(45deg);
    -ms-transform: translateY(-5px) rotate(45deg);
    transform: translateY(-5px) rotate(45deg);
}

.header .change #burger_list2 {
    opacity: 0;
}

.header .mobile-phone {
    display: none;
}

.header-menu {
    width: 100%;
    height: 100vh;
    left: -100%;
    background-color: #000;
    z-index: 999;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.showMobileMenu {
    left: 0;
}

.wrapper {
    height: 790px;
}

.wrapper-item {
    background-image: url(/assets/img/png/wrapper_back.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.wrapper-middle__img {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wrapper-girl__img {
    bottom: 0;
    right: 0;
}

.wrapper__title {
    font-size: 70px;
    line-height: 82px;
}

.wrapper-mobile__btn {
    display: none;
}

.destinations {
    padding: 100px 0 140px 0;
}

.destinations-item {
    width: 22.5%;
    height: auto;
    margin-bottom: 50px;
}

.destinations-item__img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 20px;
}

.destinations .slick-next {
    right: -20px;
}

.destinations .slick-prev {
    left: -20px;
}

.destinations .slick-dots {
    bottom: 0;
}

.trainers {
    padding: 100px 0 168px 0;
    background-color: #F5F5F5;
}

.trainers-item {
    width: 22.5%;
    margin-bottom: 20px;
}

.trainers-item__img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.trainers .logo_black,
.trainers .kettlebell {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.trainers .kettlebell {
    top: -80px;
}

.trainers .logo_black {
    bottom: -100px;
}

.trainers .slick-next {
    right: -20px;
}

.trainers .slick-prev {
    left: -20px;
}

.trainers .slick-dots {
    bottom: 0;
}

.main {
    padding: 160px 0;
}

.news {
    padding: 110px 0 220px 0;
    background-color: #F5F5F5;
}

.news-item-img {
    width: 100%;
    height: 446px;
    margin-bottom: 20px;
    -o-object-fit: cover;
    object-fit: cover;
}

.news .slick-slide {
    margin-right: 5px;
    margin-left: 5px;
}

.news .dumbbells,
.news .cup {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.news .dumbbells {
    top: -80px;
}

.news .cup {
    bottom: -90px;
}

.results {
    padding: 140px 0;
}

.results-carousel {
    margin-top: 40px;
    padding: 0 120px;
}

.results-item {
    width: 255px;
    height: 355px;
}

.results .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

.results .slick-dots {
    bottom: -50px;
}

.club-carousel {
    margin-top: 40px;
}

.club-item {
    height: 629px;
}

.club .slick-dots {
    bottom: 20px;
}

.club .slick-dots li button:before {
    color: #fff;
}

.club .slick-dots li.slick-active button:before {
    color: #E20613;
}

.club .slick-dotted.slick-slider {
    margin-bottom: 20px;
}

.aside {
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 300px;
}

.aside__btn {
    width: 169px;
    height: 50px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: #B90000;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.aside-item {
    width: 50%;
    height: 500px;
}

.aside-item img {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer {
    padding: 120px 0 250px 0;
    background-color: #000;
}

.footer-item {
    width: 50%;
}

.footer-sub {
    margin-top: -150px;
    overflow: hidden;
    margin-bottom: 0;
    height: 460px;
}

.footer-sub img {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 10;
    width: 100%;
}

.modal {
    background-color: #0009;
    z-index: 9999;
}

.modal-item {
    width: 790px;
    height: auto;
    background-color: #F5F5F5;
    padding: 65px 30px;
    -webkit-animation: animModal .3s linear;
    animation: animModal .3s linear;
}

.modal__close {
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.modal-form {
    margin-top: 40px;
}

.modal-form__inp,
.modal-form select {
    height: 60px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #828282;
    padding: 0 22px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.modal-form__inp::-webkit-input-placeholder,
.modal-form select::-webkit-input-placeholder {
    color: #828282;
}

.modal-form__inp:-ms-input-placeholder,
.modal-form select:-ms-input-placeholder {
    color: #828282;
}

.modal-form__inp::-ms-input-placeholder,
.modal-form select::-ms-input-placeholder {
    color: #828282;
}

.modal-form__inp::placeholder,
.modal-form select::placeholder {
    color: #828282;
}

.modal-form input[type=number] {
    width: 30%;
    margin-right: 25px;
}

.modal-form .select {
    width: 65%;
}

.modal-form .select select {
    color: #828282;
}

.modal-form .select .close {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    right: 2px;
    z-index: 99;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal-form .select svg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 22px;
    z-index: 100;
}

.modal-form .form-check {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 35%;
}

.modal-form .form-check input[type=radio] {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
}

.modal-form .form-check .circle {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #7f8c8d;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal-form .form-check .circle::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.modal-form .form-check label {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-weight: 400;
    color: #828282;
    position: relative;
    padding-left: 25px;
    font-size: 18px;
    margin-top: 10px;
}

.modal-form .form-check label:not(:last-child) {
    margin-right: 58px;
}

.modal-form .form-check input[type=radio]:checked ~ .circle {
    border: 1px solid #E20613;
}

.modal-form .form-check input[type=radio]:checked ~ .circle::before {
    background-color: #E20613;
}

.modal-form .form-group {
    width: 65%;
}

.modal-form .form-group a {
    color: #828282;
}

.modal-form .form-group a:hover {
    color: #E20613;
}

.modal-form input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    padding-left: 35px;
    position: relative;
    font-size: 14px;
    color: #828282;
}

.modal-form input[type=checkbox] {
    display: none;
    width: 20px;
}

.modal-form input[type=checkbox] + label:before {
    content: "\2714";
    border: 1px solid #828282;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    left: 0;
}

.modal-form input[type=checkbox] + label:active:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.modal-form input[type=checkbox]:checked + label:before {
    color: #E20613;
}

.modal-form input[type=checkbox]:disabled + label:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.modal-form input[type=checkbox]:checked:disabled + label:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.modal-form__btn {
    width: 200px;
    height: 50px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    background-color: #B90000;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

@-webkit-keyframes animModal {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animModal {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 30px;
    }
    .wrapper-girl__img {
        width: 750px;
    }
    .destinations-item {
        width: 48%;
    }
    .trainers-item {
        width: 48%;
    }
    .results-carousel {
        margin-top: 40px;
        padding: 0 100px;
    }
    .club .container {
        padding: 0;
    }
    .modal-item {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .wrapper-item {
        background-image: none;
        background-color: #000;
    }
    .wrapper-girl__img {
        width: 100%;
    }
    .results-carousel {
        padding: 0 150px;
    }
    .results-item {
        height: 404px;
    }
    .club-item {
        height: 450px;
    }
    .club .slick-dots li button:before {
        color: #828282;
    }
    .club .slick-dots {
        bottom: -100px;
    }
    .aside {
        margin-top: 60px;
        background-color: #fff;
    }
    .modal-item {
        padding: 30px 20px;
    }
    .modal__close {
        right: 40%;
        top: -20px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .modal input[type=number] {
        width: 100%;
        margin-right: 0;
    }
    .modal .select {
        width: 100%;
        margin-top: 20px;
    }
    .modal-form .form-check,
    .modal-form .form-group {
        width: 100% !important;
    }
    .modal-form .form-check {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (max-width: 576px) {
    .wrapper {
        overflow: hidden;
    }
    .wrapper-girl__img {
        bottom: 250px;
        right: -100px;
    }
    .wrapper__title {
        font-size: 60px;
        line-height: 60px;
    }
    .wrapper .slick-next,
    .wrapper .slick-prev {
        top: 40%;
    }
    .destinations {
        padding: 80px 0;
    }
    .trainers .logo_black {
        width: 120px;
        bottom: -60px;
    }
    .trainers .kettlebell {
        width: 150px;
        top: -50px;
    }
    .results-carousel {
        padding: 0 150px;
    }
    .results-item {
        height: 420px;
    }
    .club-item {
        height: 306px;
    }
    .club .slick-dots {
        bottom: -120px;
    }
    .header .mobile-phone {
        display: block;
    }
    .header .phone-link,
    .header .mobile_clubs {
        display: none;
    }
    .header-logo img {
        width: 80px;
    }
    .header .mobile_btns {
        margin-right: 15px;
    }
    .wrapper {
        overflow: hidden;
    }
    .wrapper-girl__img {
        bottom: 250px;
        right: -100px;
    }
    .wrapper__title {
        font-size: 48px;
        line-height: 50px;
    }
    .wrapper .slick-next,
    .wrapper .slick-prev {
        top: 40%;
    }
    .news .slick-slide {
        margin-right: 0;
        margin-left: 0;
    }
    .results-carousel {
        padding: 0 50px;
    }
    .results-item {
        height: 400px;
    }
    .results .slick-next {
        right: -20px;
    }
    .results .slick-prev {
        left: -20px;
    }
    .results .slick-slide {
        margin-right: 0;
        margin-left: 0;
    }
    .aside-item {
        width: 100%;
        height: 390px;
    }
    .aside-item img {
        width: 100%;
    }
    .footer {
        padding: 120px 0 200px 0;
        background-color: #000;
    }
    .footer-item {
        width: 100%;
    }
    .footer-sub {
        height: 300px;
    }
    .modal .form-check {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .header .mobile_btns {
        display: none;
    }
    .header .phone-link {
        display: block;
    }
    .wrapper-girl__img {
        width: 120%;
        bottom: 180px;
    }
    .wrapper-middle__img {
        display: none !important;
    }
    .wrapper__title {
        font-size: 42px;
        line-height: 45px;
        text-align: center;
    }
    .wrapper-mobile__btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .news-item-img {
        height: 400px;
    }
    .results-carousel {
        padding: 0 20px;
    }
    .results-item {
        height: 400px;
    }
    .club-item {
        height: 280px;
    }
    .club .slick-dots {
        bottom: -140px;
    }
    .aside-item {
        height: 350px;
    }
}

@media (max-width: 375px) {
    .wrapper-girl__img {
        width: 120%;
        bottom: 300px;
    }
    .wrapper-middle__img {
        display: none !important;
    }
    .wrapper__title {
        font-size: 42px;
        line-height: 45px;
        text-align: center;
    }
    .results-carousel {
        padding: 0;
    }
    .results-item {
        height: 360px;
    }
    .club-item {
        height: 216px;
    }
    .aside-item {
        height: 300px;
    }
    .footer-sub {
        height: 250px;
    }
}
